<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>SandysList -- {% block title %}Home{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if autoref %}
      <meta http-equiv="refresh" content="5">
    {% endif %}
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Sandy's List</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/find">Find</a></li>
              {% if ismod %}
                <li><a href="/responses">Moderate</a></li>
                <li><a href="/logout">Logout</a></li>
              {% else %}
                <li><a href="/post">Post</a></li>
              {% endif %}
            </ul>
        </div>
      </div>
    </div>

    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div id="alert_block">
        {% for category, message in messages %}
         <p class='alert alert-{{ category }}'>{{ message|safe }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
    {{ content|safe }}
    {% block content %}
    {% endblock %}
    </div> <!-- /container -->
    <footer class="footer">
      <div class="container">
        <p>Built by <a href="http://hurricanehackers.com">Hurricane Hackers</a> | Coded by <a href="http://twitter.com/b1naryth1ef">@B1naryth1ef</a></p>
        <p>Hosting graciously provided by <a href="http://heroku.com/"><img src="http://logos.heroku.com/images/heroku-logo-light-88x31.png" /></a></p>
  
        <p><a href="http://glyphicons.com">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </div>
    </footer>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29805605-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    
  </body>
</html>
