{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}

    	<table class="table table-hover">
    		<thead>
    			<tr>
    				<th>Id</th>
    				<th>Name</th>
    				<th>Request</th>
    				<th>Contact</th>
    				<th>Location</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for i in reqs %}
    			<tr>
    				<td>{{ i.id }}</td>
    				<td>{{ i.name }}</td>
					<td>{{ i.request }}</td>
					<td>{{ i.contact }}</td>
					<td>{{ i.location }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

      <hr>
{% endblock %}
{% block footer %}{% endblock %}