{% extends "base.html" %}
{% block title %}Find requests{% endblock %}

{% block content %}
<div class="row">
    <div class="span12" style="text-align: center;">
        <h2>If you find someone requring something you have in your area, click the "Provide Help" link to get in touch with them!</h2>
    </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Request</th>
      <th>Location</th>
      <th>{% if ismod %}Delete{% else %}Provide Help{% endif %}</th>
    </tr>
  </thead>
  <tbody>
    {% for i in reqs.items %}
    <tr>
      <td>{{ i.name }}</td>
      <td>{{ i.request }}</td>
      <td>{{ i.location }}</td>
      {% if ismod %}
        <td><a class="btn btn-danger" href="/mod/delete_req/{{ i.id }}">Mark as invalid (delete)</a></td>
      {% else %}
        <td><a class="btn btn-success"  href="/help/{{ i.id }}">Help this person &raquo;</a></td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
<a class="btn btn-success"  href="/find/{{ reqs.page+1 }}">Next Page &raquo;</a>
{% if page != 1 %}
<a class="btn btn-success"  href="/find/{{ reqs.page-1 }}">&laquo; Previous Page</a>
{% endif %}

      <hr>
{% endblock %}
{% block footer %}{% endblock %}