{% extends "base.html" %}
{% block title %}Index{% endblock %}


{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>This website is being created to help the victims of Hurricane Sandy</h2>
        <p>If this is an emeergency call 911!</p>
        <p>Please use the hashtag #sandyaid on twitter</p>
        <p><a href="http://irc.lc/freenode/hurricanehackers">Chat with us (feedback/comments/assistance/etc)</a></p>
        
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6" style="text-align:center">
          <h2>Request</h2>
          <p>Click below to list a missing person, request help or supplies.</p>
          <p><a class="btn btn-primary btn-large" href="/post">Make a Request&raquo;</a></p>
        </div>
        <div class="span6" style="text-align:center">
          <h2>Offer Help</h2>
          <p>Click below to offer assistance. </p>
          <p><a class="btn btn-primary btn-large"  href="/find">Offer Assistance &raquo;</a></p>
       </div>
        
      </div>

      <hr>
{% endblock %}
{% block footer %}{% endblock %}

    
