{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="margin-top: 30px; text-align: center">
        <h2><b>If this is ANY type of emergency, call 911 IMMEDIATLY!</b></h1>
        <p>This website is being created to help the victims of Hurricane Sandy. If you need assistance, please post here or use the hashtag <a href="http://twitter.com/#sandyaid">#SandyAID</a> on twitter! If you can provide any sort of help, have medical expierence, supplies, water, power or a place to stay, please <a href="/find">search</a> for people in your area that need those services!</p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6" style="text-align: center;">
          <h2>Request</h2>
          <p>Click below to list a missing person, request assistance, water, a place to stay, or supplies!</p>
          <p><a class="btn btn-primary btn-large" href="/post">I need help! &raquo;</a></p>
        </div>
        <div class="span6" style="text-align:center">
          <h2>Offer Help</h2>
          <p>Click below to find people near you that need supplies, assistance, or a place to stay!</p>
          <p><a class="btn btn-primary btn-large"  href="/find">I can help! &raquo;</a></p>
       </div>
        
      </div>

      <hr>
{% endblock %}

    <p><a href="http://irc.lc/freenode/hurricanehackers">Chat with us (feedback/comments/assistance/etc)</a></p>
