<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
<h3>I NEED HELP</h3>
<form class="needhelp" name="needhelp" action="/internals/needhelp" method="post">
    <label for="name">Name:</label><br /><input type="text" name="name" id="name" value="" /><br />
    <label for="request">I need:</label><br />
    <textarea cols="40" rows="5" name="request"></textarea><br />
    <label for="location">Location ("City, State" or "Zipcode"):</label><br /><input type="text" name="location" id="location" value="" /><br />
    <label for="phonenum">Phone Number (or other viable contact):</label><br /><input type="tel" name="phoneno" id="phoneno" value="" /><br />
    <label for="urgent">Is the request urgent?</label><input style="margin: 5px;" type="checkbox" name="urgent" /><br />
    <input type="submit" style="float: right;" value="Submit" />
</form>
</body>