{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<h3>Make a Request</h3>
<div class="container">
  <div class="row">
<div class="span4">
  <form class="form-horizontal" name="needhelp" action="/internals/needhelp" method="post">
    <div class="control-group">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="" />
    </div>
    <div class="control-group">
      <label for="request">I need:</label><br />
      <textarea cols="40" rows="5" name="request"></textarea>
    </div>
    <div class="control-group">
      <label for="location">Location ("City, State" or "Zipcode"):</label><br /><input type="text" name="location" id="location" value="" />
    </div>
    <div class="control-group">
      <label for="phonenum">Phone Number (or other viable contact):</label><br /><input type="tel" name="phonenum" id="phonenum" value="" />
    </div>
    <div class="control-group">
        <label class="checkbox">
        <input type="checkbox" name="urgent" /> Is the request urgent?
        </label>
        <input type="submit" style="btn btn-primary btn-large" value="Submit" />  
    </div>
  </form>
</div>
</div>
</div>


{% endblock %}
{% block footer %}{% endblock %}